$text_color: #808895;
$text_size: 0.8rem;
$text_color1:#13d5ff;
$text_color2:#808b96;
$chartBg_color:#0a0f13;
$itemBg_color:rgba(40, 45, 62, 0.73);
// 输入框白色提示文字
.phwhite input::-webkit-input-placeholder {
    color: #fff !important;
}

.phwhite input::-moz-placeholder {
    color: #fff !important;
    opacity: 1 !important;
}

.inputfontwhite input {
    color: #fff !important;
}

.searchClass input {
    height: inherit;
    background: transparent;
    border: 0;
    font-size: 0.7rem;
    padding: 0rem 0.3rem;
    padding-right: 1rem !important;
}

.searchClass .el-input__icon {
    width: 18px;
    font-size: 12px !important;
}

.searchClass input::-webkit-input-placeholder {
    color: #757575;
}


/* 新增及编辑视图列表*/

.generalOverview .edit_box,
.warning .edit_box,
.collect .edit_box {
    input {
        padding-left: 5px;
        font-size: $text_size;
        color: $text_color2;
    }
    .icon-delete {
        margin-left: 0;
    }
    .el-dialog--tiny {
        top: 50px !important;
        width: 27rem;
        min-height: 16.7rem;
        margin-bottom: 0;
        background-color: $chartBg_color;
        box-sizing: border-box;
        color: white;
        position: relative;
        .bottom_btnBox {
            position: absolute;
            width: 100%;
            bottom: 1.7rem;
            button {
                width: 5.2rem;
                height: 1.6rem;
                line-height: 1.6rem;
                border-radius: 3px;
                font-size: $text_size;
            }
            .sureBtn {
                color: white;
                background-color: #0fa3c5;
            }
            .cancleBtn {
                color: white;
                box-sizing: border-box;
                border: 1px solid #0fa3c5;
                margin-left: 2rem;
                background-color: transparent;
            }
        }
        .el-dialog__header {
            padding: 0;
            height: 4.1rem;
            line-height: 4.1rem;
            text-align: center;
            color: white;
            .el-dialog__title {
                color: white;
                font-size: 1rem;
            }
            .el-dialog__headerbtn {
                display: none;
            }
        }
        .el-dialog__body {
            padding: 0;
            color: white;
            .edit_content {
                $ml: 0.25rem;
                width: 21.8rem;
                margin: 0 auto;
                text-align: center;
                p,
                input,
                button {
                    background-color: $itemBg_color;
                    height: 1.6rem;
                    line-height: 1.6rem;
                    font-size: $text_size;
                    box-sizing: border-box;
                    width: 1.7rem;
                }
                .left_title {
                    width: 5.1rem;
                    color: $text_color1;
                }
                .view_name {
                    >input {
                        width: 16.35rem;
                        margin-left: $ml;
                        margin-bottom: $ml;
                    }
                }
                .tag_box {
                    margin-bottom: $ml;
                    text-align: center;
                    color: white;
                    >button {
                        color: white;
                        margin-left: $ml;
                    }
                }
                ul {
                    padding-left: 5.45rem;
                    padding-bottom: 5rem;
                    li {
                        margin-bottom: $ml;
                        &:last-child {
                            // margin-bottom: 5rem;
                        }
                        >input {
                            width: 14.39rem;
                        }
                        >button {
                            width: 1.7rem;
                            text-align: center;
                            color: white;
                            margin-left: $ml;
                        }
                    }
                }
            }
        }
    }
}


/*新增图表样式
or
新增告警策略
*/

.monitorView .chart_box,
.warning .chart_box {
    input {
        padding-left: 5px;
        font-size: $text_size;
        color: $text_color2;
    }
    .el-select__tags {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
    }
    .icon-delete {
        margin-left: 0;
    }
    .el-dialog--tiny {
        top: 50px !important;
        width: 55rem;
        min-height: 28rem;
        padding: 0 2rem;
        margin-bottom: 0;
        background-color: $chartBg_color;
        box-sizing: border-box;
        color: white;
        position: relative;
        .bottom_btnBox {
            position: absolute;
            width: 100%;
            bottom: 1.7rem;
            button {
                width: 5.2rem;
                height: 1.6rem;
                line-height: 1.6rem;
                border-radius: 3px;
                font-size: $text_size;
            }
            .sureBtn {
                color: white;
                background-color: #0fa3c5;
            }
            .cancleBtn {
                color: white;
                box-sizing: border-box;
                border: 1px solid #0fa3c5;
                margin-left: 2rem;
                background-color: transparent;
            }
        }
        .el-dialog__header {
            padding: 0;
            height: 3rem;
            line-height: 3rem;
            text-align: left;
            color: white;
            .el-dialog__title {
                color: white;
                font-size: 1rem;
            }
            .el-dialog__headerbtn {
                display: none;
            }
        }
        .el-dialog__body {
            padding: 0;
            color: white;
            .chart_content {
                .nav_Box {
                    position: relative;
                    font-size: 0.8rem;
                    ul {
                        li {
                            &.active {
                                border: 1px solid $text_color1;
                                border-bottom: 2px $chartBg_color solid !important;
                                color: $text_color1;
                            }
                            width: 6rem;
                            height: 2.1rem;
                            line-height: 2.1rem;
                            box-sizing:border-box;
                            position: relative;
                            z-index: 1;
                            cursor: default;
                        }
                    }
                    .line {
                        position: absolute;
                        bottom: 0px;
                        left: 0;
                        height: 1px;
                        width: 100%;
                        background-color: $text_color1;
                    }
                }
            }
            .main_box {
                padding: 1.1rem 1.4rem 0;
                font-size: 0.8rem;
                box-sizing: border-box;
                $btnBg_color: #0ca0c1;
                $ml: 0.25rem;
                .baseInfo_box {
                    $item_height: 1.6rem;
                    $bgcolor: #1f2531;
                    .chart_type_box {
                        li {
                            &.active {
                                background-color: $btnBg_color;
                            }
                            width: 5rem;
                            height: 1.8rem;
                            line-height: 1.8rem;
                            margin-right: 0.3rem;
                            display: block;
                            border-radius: 2px;
                            background-color: #999999;
                            cursor: default;
                        }
                    }
                    >div {
                        .left_title {
                            width: 5.25rem;
                            height: $item_height;
                            line-height: $item_height;
                            background-color: $itemBg_color;
                            color: $text_color1;
                        }
                        input {
                            height: $item_height;
                            line-height: $item_height;
                            margin-left: $ml;
                            width: 16.3rem;
                            box-sizing: border-box;
                            background-color: $itemBg_color;
                            color: $text_color2;
                        }
                        button {
                            height: $item_height;
                            width: $item_height;
                            line-height: $item_height;
                            box-sizing: border-box;
                            text-align: center;
                            margin-left: $ml;
                            background-color: $itemBg_color;
                            color: white;
                            font-size: $text_size;
                        }
                    }
                    .tag {
                        margin-top: $ml;
                    }
                    ul {
                        // padding-left: 5.5rem;
                        margin-top: 1.25rem;
                        li {
                            margin-bottom: $ml;
                            input {
                                height: $item_height;
                                line-height: $item_height;
                                width: 16.3rem;
                                box-sizing: border-box;
                                background-color: $itemBg_color;
                                color: $text_color2;
                            }
                            button {
                                height: $item_height;
                                line-height: $item_height;
                                width: $item_height;
                                box-sizing: border-box;
                                text-align: center;
                                margin-left: $ml;
                                background-color: $itemBg_color;
                                color: white;
                                font-size: $text_size;
                            }
                        }
                    }
                } // 性能指标
                .target_box {
                    $item_height: 1.6rem;
                    padding-left: 2rem;
                    text-align: left;
                    position: relative;
                    .ml {
                        margin-left: 0.25rem;
                    }
                    p,
                    button {
                        background-color: $itemBg_color;
                        height: 1.6rem;
                        line-height: 1.6rem;
                    }
                    .left_title {
                        width: 4.5rem;
                        text-align: center;
                        color: $text_color1;
                    }
                    .text {
                        height: $item_height;
                        line-height: $item_height;
                        // margin-left: $ml;
                        width: 100%;
                        padding: 0;
                        box-sizing: border-box;
                        background-color: $itemBg_color;
                        color: $text_color2;
                    }
                    .el-select,
                    .el-input__icon+.el-input__inner {
                        height: 1.6rem !important;
                        line-height: 1.6rem;
                        background-color: $itemBg_color;
                        border: none;
                        color: $text_color2;
                    }
                    .el-select .el-input__icon {
                        color: $text_color2;
                    }
                    .el-select-dropdown {
                        background-color: #081214;
                    }
                    .func_input {
                        width: 6.5rem;
                    }
                    .right_title {
                        box-sizing: border-box;
                        color: $text_color2;
                        padding-left: 5px;
                        background-color: $itemBg_color;
                    }
                    .btn {
                        width: 1.7rem;
                        height: 1.6rem;
                        line-height: 1.6rem;
                        text-align: center;
                        font-size: $text_size;
                        background-color: $itemBg_color;
                        color: white;
                        .icon-delete {
                            margin-left: 0rem;
                        }
                    }
                    .addBtn {
                        height: 1.6rem;
                        width: 4.5rem;
                        margin-top: 1rem;
                        margin-bottom: 3rem;
                        text-align: center;
                        color: $text_color1;
                        background-color: $itemBg_color;
                        font-size: $text_size;
                    }
                    .target_content_box {
                        margin-bottom: 1rem;
                        position: relative;
                        &:last-of-type {}
                    }
                    .indexBtn {
                        position: absolute;
                        top: 0;
                        left: -1.95rem;
                        color: $text_color1;
                        font-size: $text_size;
                    }
                    .deletAllBtn {
                        position: absolute;
                        top: 0;
                        right: -1.4rem;
                        color: $text_color1;
                        background-color: transparent;
                        font-size: 1.6em;
                        width: 1.6rem;
                        height: 1.6rem;
                    }
                    .one {
                        margin-bottom: $ml;
                        .target_input {
                            width: 14.5rem;
                        }
                        .right_title {
                            width: 6.6rem;
                            text-align: left;
                        }
                    }
                    .two {
                        margin-bottom: $ml;
                        .right_title {
                            width: 8.5rem;
                            text-align: left;
                        }
                        .day_input {
                            width: 5.75rem;
                        }
                    }
                    .three {
                        margin-bottom: $ml;
                    }
                    ul {
                        li {
                            .key_input {
                                width: 6.6rem;
                            }
                            .value_input {
                                width: 12.5rem;
                            }
                        }
                    }
                } // 图表样式
                .charstyle_box {
                    .ml {
                        margin-left: 0.25rem;
                    }
                    .left_title {
                        width: 4.5rem;
                        text-align: center;
                        height: 1.6rem;
                        line-height: 1.6rem;
                        color: $text_color1;
                        background-color: $itemBg_color;
                    }
                    .el-select,
                    .el-input__icon+.el-input__inner {
                        height: 1.6rem !important;
                        line-height: 1.6rem;
                        width: 6.5rem;
                        background-color: $itemBg_color;
                        border: none;
                        color: $text_color2;
                    }
                    .el-select .el-input__icon {
                        color: $text_color2;
                    }
                    .el-select-dropdown {
                        background-color: #081214;
                    }
                    h3 {
                        text-align: left;
                        font-size: 0.9rem;
                    }
                    .top {
                        margin-top: 1.1rem;
                        margin-bottom: 0.25rem;
                    }
                }
                .nomaltype {
                    //基本类型
                    $item_height: 1.6rem;
                    padding: 0rem 0.5rem;
                    text-align: left;
                    position: relative;
                    .ml {
                        margin-left: 0.25rem;
                    }
                    p,
                    button {
                        background-color: $itemBg_color;
                        height: 1.6rem;
                        line-height: 1.6rem;
                    }
                    .left_title {
                        width: 4.5rem;
                        text-align: center;
                        color: $text_color1;
                    }
                    .text {
                        height: $item_height;
                        line-height: $item_height;
                        margin-left: $ml;
                        width: 14.5rem;
                        box-sizing: border-box;
                        background-color: $itemBg_color;
                        color: $text_color2;
                    }
                    .zb_input {
                        width: 14.5rem;
                    }
                    .tzdx_input {
                        width: 20rem;
                    }
                    .tzfs_check {
                        width: 4.8rem;
                        float: left;
                        margin-left: 0.25rem;
                        text-align: center;
                        height: 1.6rem;
                        line-height: 1.6rem;
                        color: #808b96;
                        background-color: rgba(40, 45, 62, 0.73);
                        .el-checkbox__label {
                            font-size: 0.8rem;
                            padding-left: 0;
                        }
                        .el-checkbox__input {
                            width: 0.6rem;
                            height: 0.6rem;
                            padding: 0;
                            font-size: 0.8rem;
                            position: relative;
                            vertical-align: middle;
                            right: 0.2rem;
                            bottom: 0.15rem;
                            .el-checkbox__inner {
                                width: 0.6rem;
                                height: 0.6rem;
                            }
                            .el-checkbox__inner::after {
                                height: 0.6rem;
                                left: 0.15rem;
                                position: absolute;
                                top: -0.2rem;
                                width: 0.2rem;
                            }
                        }
                    }
                    .gzms_input {
                        width: 4.1rem;
                    }
                    .gzms_text {
                        width: 2.5rem;
                    }
                    .el-select,
                    .el-input__icon+.el-input__inner {
                        height: 1.6rem !important;
                        line-height: 1.6rem;
                        background-color: $itemBg_color;
                        border: none;
                        color: $text_color2;
                    }
                    .el-select .el-input__icon {
                        color: $text_color2;
                    }
                    .el-select-dropdown {
                        background-color: #081214;
                    }
                    .func_input {
                        width: 6.5rem;
                    }
                    .right_title {
                        box-sizing: border-box;
                        color: $text_color2;
                        padding-left: 5px;
                        background-color: $itemBg_color;
                    }
                    .btn {
                        width: 1.7rem;
                        height: 1.6rem;
                        line-height: 1.6rem;
                        text-align: center;
                        font-size: $text_size;
                        background-color: $itemBg_color;
                        color: white;
                        .icon-delete {
                            margin-left: 0rem;
                        }
                    }
                    .addBtn {
                        height: 1.6rem;
                        width: 4.5rem;
                        margin-top: 1rem;
                        margin-bottom: 3rem;
                        text-align: center;
                        color: $text_color1;
                        background-color: $itemBg_color;
                        font-size: $text_size;
                    }
                    .left_content_box {
                        margin-bottom: 1rem;
                        position: relative;
                        float: left;
                        width: 22rem;
                        &:last-of-type {}
                    }
                    .right_content_box {
                        margin-bottom: 1rem;
                        position: relative;
                        float: right;
                        width: 25rem;
                        &:last-of-type {}
                    }
                    .indexBtn {
                        position: absolute;
                        top: 0;
                        left: -1.95rem;
                        color: $text_color1;
                        font-size: $text_size;
                    }
                    .deletAllBtn {
                        position: absolute;
                        top: 0;
                        right: -1.4rem;
                        color: $text_color1;
                        background-color: transparent;
                        font-size: 1.6em;
                        width: 1.6rem;
                        height: 1.6rem;
                    }
                    .one {
                        margin-bottom: $ml;
                        .target_input {
                            width: 14.5rem;
                        }
                        .right_title {
                            width: 8rem;
                            text-align: left;
                        }
                    }
                    .two {
                        margin-bottom: $ml;
                        .right_title {
                            width: 8.5rem;
                            text-align: left;
                        }
                        .day_input {
                            width: 5.75rem;
                        }
                    }
                    .three {
                        margin-bottom: $ml;
                    }
                    ul {
                        li {
                            .key_input {
                                width: 6.6rem;
                            }
                            .value_input {
                                width: 12.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.el-select-dropdown {
    background-color: #081214;
    border-color: #212531;
    color: $text_color;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover,
.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    background-color: transparent;
}

.el-select-dropdown__item.selected,
.el-select-dropdown__item.selected.hover {
    // background-color: #1d212d;
    background-color: $itemBg_color;
}

.el-select-dropdown__item.selected {
    color: #7eb2e6;
}

.el-select-dropdown__item {
    color: $text_color;
}

// 编辑时间
.edit_time .el-date-editor.el-input {
    width: 12rem !important;
    font-size: 0.85rem;
}

.edit_time .el-date-editor.el-input .el-input__inner {
    background: #262930;
    color: #fff;
    border: 0;
}

.edit_time .hzselect .el-input__icon+.el-input__inner {
    width: 10rem;
    background: #262930;
    color: #fff;
    border: 0;
}


/*--告警模块--*/

.warning .timeText .el-date-editor.el-input .el-input__inner {
    color: #fff;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    border-width: 0;
    outline: none;
    padding: 0rem 0.5rem;
    float: left;
    height: 100%;
    font-size: 0.7rem;
}